/*mobile first*/
body{
  color: #202223;
  background-color: #D7D8CF;
}

.jumbotron{
  position: relative;
  background: url(../img/clem-onojeghuo-205193.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.jumbotron:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.jumbotron .container {
  padding: 75px 0;
}

h1{
  color: #d9b257;
  text-shadow: 2px 2px #202223;
}

main{
  background-color: #B48A2F;
}

.display-main-wrap-top{
  background-color: #63746e;
}

.display-main-wrap-mid{
  background-color: #C2A267
}

.card-body{
  color:inherit;
  background-color: #D7D8CF;
}

.project-images-hidden{
  display: none;
}

.beSewing{
  border: 5px solid #63746e;
}

.img-thumbnail{
  min-height: 400px;
}

.modalBtn{
  color: #D7D8CF;
  background-color: #63746e;
}

.modalBtn:hover{
  color: inherit;
  background-color: #B48A2F;
}

.fa-square{
  color: #63746e;
}







/*Media Queries*/
@media only screen and (min-width:426px) and (max-width: 1024px){

/*.jumbotron{
  background-position: right;
  padding: 18rem 2rem !important;
*/

}


@media (min-width:1024px){

.jumbotron .container{
  padding: 200px 0;
}
.project-images-hidden{
display: block;
}

#carousel-container{
  display: none;
}
}
